<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rout Map Editor</title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="content">
      <div class="content__input">
        <!--input-->
        <input class="input-title" placeholder="Новая точка маршрута">
        <!--input end-->
        <div class="content__points">
          <!--points-->
          <!--point-->
          <div class="point">
            <div>точка маршрута 1</div>
            <!--button-->
            <button class="button button_delete"></button>
            <!--button end-->
          </div>
          <!--point end-->
          <!--point-->
          <div class="point">
            <div>точка маршрута 1</div>
            <!--button-->
            <button class="button button_delete"></button>
            <!--button end-->
          </div>
          <!--point end-->
          <!--point-->
          <div class="point">
            <div>точка маршрута 1</div>
            <!--button-->
            <button class="button button_delete"></button>
            <!--button end-->
          </div>
          <!--point end-->
          <!--points end-->
        </div>
      </div>
      <div class="content__map">
        <!--map-->
        <div class="map"></div>
        <!--map end-->
      </div>
    </div>
  </body>
</html>