@import ../css/mixins
@import ../css/variables.sass
	
@font-face
	font-family: "Roboto-Regular"
	src: url("/fonts/Roboto-Regular.eot?") format("eot")
	src: url("/fonts/Roboto-Regular.woff") format("woff")
	src: url("/fonts/Roboto-Regular.ttf") format("truetype")

html, body
	font-size: 16px
	margin: 0
	padding: 0
	font-family: Roboto-Regular
	@media screen and (max-width: $mobile-resolution)
		font-size: 1.1em


//Import pages style
@import "../pages/index/style.sass"


